table{
   width: auto;
}
.filters{
	border: 1px solid;
	border-radius: 0;
}
img{
    width: 50px;
    height: 35px;
}
th[scope="row"]{
    font-weight: normal;
}
th[scope="row"]:hover{
    font-weight: 520;
    font-style: italic;
    cursor: pointer;
}
.btn{
    border-radius: 0;
}
