img{
    width: 267px;
    height: 200px;
}
img:hover{
    cursor: pointer;
}

.card:hover{
    border: 1px solid green;
    border-radius: 0.3;
}
.card{
    border: 2px solid black!important;
    border-radius: 0%;
}
.btn-outline-danger{
    color: red!important;
}
.btn-outline-danger:hover{
    color: white!important;
}
.btn{
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 0;
}