<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4 pl-4">
	<button (click)=" isCollapsed=!isCollapsed" class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse text-center" id=" navbarTogglerDemo01" [collapse]="isCollapsed">
		<a class="navbar-brand " routerLink='/dashboard'>Centre’Auto’Ccas</a>
		<div class="navbar-nav ml-auto">
			<a class="nav-item nav-link px-4" routerLink="/dashboard">Annonces</a>
			<a class="nav-item nav-link ml-lg-auto px-4" *ngIf="isPro()" routerLink="/professional/home">MonCompte</a>
			<a class="nav-item nav-link ml-lg-auto px-4" *ngIf="isAdmin()" routerLink="/admin/home">Administration</a>
			<a class="nav-item nav-link ml-lg-auto px-4" *ngIf="!currentUser" routerLink="/login">Se connecter</a>
			<a class="nav-item nav-link ml-lg-auto px-4" *ngIf="currentUser" (click)="logout()">Se déconnecter</a>
		</div>
	</div>
</nav>

<!-- main app container -->
<div class="jumbotron">
	<div class="container">

		<alert></alert>
		<router-outlet></router-outlet>

	</div>
</div>